.slider-base{

  position: relative;

}

.prag{

  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.prag h1{

  // font-family: Lucida Handwriting;

  font-size: 3rem;

}

.span{

  color: #DC3545;

  font-weight: bold;

}

.prag .btn{

  padding: 10px 35px;

  font-size: 20px;

  border-radius: 24px;

  margin-top: 10px;

}

.prag .btn:hover{

  background-color: #DC3545;

  color: #fff;

  border-color: #DC3545;

  transition: all 0.3s ease-in-out;

}

.carousel-item::before{

  content: "";

  position: absolute;

  background-color: #152d3dce;

  opacity: 0.8;

  top: 0;

  left: 0;

  right: 0;

  height: 100%;

  width: 100%;

}

.carousel-item img{
  min-height: 500px;
  height: 100vh;
  object-fit: cover;

}

.carousel-indicators [data-bs-target]{

  width: 1rem !important;

  height: 1rem !important;

  border-radius: 50% !important;

  border: rgb(104, 38, 38) !important;

  background-color: transparent !important;

  border: 1px solid #fff !important;

}

.carousel-indicators .active{

  background-color: #DC3545 !important;

  border: 1px solid #DC3545 !important;

}



/* responsive */

@media (max-width: 450px) {


  .prag h1{

      font-size: 2.5rem;

  }


}


@media (max-width: 574px) {


  .prag p{

      display: none !important;

  }

}



